In [ ]:
inroducing to python fundamentals :

In [ ]:
understanding the variable in python :

In [ ]:
x = 2
y = 3

In [41]:
z = x+y

print(z)

5

rules for deciraring the variable :

In [ ]:
rules no 1 : No namespace while declaring the variable

In [43]:
first name = 'saima'

print(first name)

SyntaxError: invalid syntax (759845678.py, line 1)

In [45]:
firstname = 'saima'

print(firstname)

saima

In [47]:
first_name = 'saima'

print(first_name)

saima

In [ ]:
rules no 2 : A variable name should not start with a number **

In [49]:
1name = 'turshar'

print(1name)

SyntaxError: invalid decimal literal (3585029087.py, line 1)

In [53]:
name1 = 'tushar'

print(name1)

tushar

rule no 3 : A variable name should not contain any spical characters

@ # $ ^ &

In [55]:
name@ = 'santosh'

print(name)

SyntaxError: invalid syntax (2832580255.py, line 1)

In [ ]:
introduction to datatypes :

1. strings =====> str

2. numbers =====> integers ----> int and float ( decimals) ----> 0.1,0.2 ====> float

3. lists ===> list

4. tuples ====> tuple

5. dictionary ====> dict

In [ ]:
classification of datatypes :

broadly datatypes are classified in to two categeroeis :

1. mutable datatypes ===> these are flaxible in nature ===> which we can edit and alter 

2. immutable datatpyes ===> these are flaxed in nature ====> which we cannot be able to edite and alter

In [ ]:
introduction to string datatypes : 

defination  : A string is a series of characters declared in quotes.

classification : It is classified as an immutable datatype

how to declare the string ......? 

approaches : 

     1. single quote

     2.double quote

In [57]:
firstname = 'sekhar'

print(firstname)

sekhar

In [66]:
name = "saima"

print(name)

saima

In [ ]:
interoduction to methods :

In [76]:
type(firstname)

str

In [ ]:
Not : 1 python is a case senstive langauge

In [ ]:
# is use to comment the code.

In [78]:
fullname = 'durga prasad'

print(fullname)

durga prasad

In [80]:
print(fullname.title())

Durga Prasad

In [ ]:
# req: i want the entire name in capital letters.

In [82]:
print(fullname.upper())

DURGA PRASAD

In [ ]:
# req: i want the entire name in small letters.

In [84]:
print(fullname.lower())

durga prasad